@import "tailwindcss";
#qrcode > canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}
#qr-wrapper {
        position: relative;
        width: 200px;
        height: 200px;
      }
      #qr-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40px;
        height: 40px;
        transform: translate(-50%, -50%);
        border-radius: 8px;
      }
      .qr-multiple {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
      }
