---
---
<!-- HEADER -->
<header class="fixed top-0 left-0 w-full z-50 bg-white/70 backdrop-blur border-b border-gray-200">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 py-4 flex justify-between items-center">
        <!-- Logo -->
        <a href="#home" class="flex items-center gap-2 text-blue-700 font-bold text-xl">
        <i data-lucide="qr-code" class="w-6 h-6 text-blue-500"></i>
        Generator
        </a>

        <!-- Desktop Menu -->
        <nav class="hidden md:flex gap-6 text-sm font-medium text-gray-700">
        <a href="#home" class="hover:text-blue-600 transition">Beranda</a>
        <a href="#about" class="hover:text-blue-600 transition">Apa Itu QR Code ?</a>
        <a href="#usage" class="hover:text-blue-600 transition">Cara Penggunaan</a>
        </nav>

        <!-- Mobile Button -->
        <button id="mobileMenuToggle" class="md:hidden text-gray-700 hover:text-blue-600 transition">
        <i data-lucide="menu" class="w-6 h-6"></i>
        </button>
    </div>

    <!-- Mobile Menu -->
    <div id="mobileMenu" class="md:hidden hidden flex-col gap-4 space-y-6 px-6 pb-4 pt-2 bg-white border-t border-gray-200">
        <a href="#home" class="block text-gray-700 hover:text-blue-600 transition">Beranda</a>
        <a href="#usage" class="block text-gray-700 hover:text-blue-600 transition">Cara Penggunaan</a>
        <a href="#about" class="block text-gray-700 hover:text-blue-600 transition">Apa Itu QR Code?</a>
    </div>
</header>
